  <aside class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action">
            <i class="fa fa-4x fa-database wow bounceIn"></i>  
            <h2>Download the Docker container to get started!</h2>
            <a href="https://hub.docker.com/r/serialbandicoot/wave-hub" class="btn btn-default btn-xl wow tada">Start now!</a>
          </div>
      </div>
  </aside>
