<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">What is the Clade Code Community</h2>
                <hr class="light">
                <p class="text-faded">
                    When we started Clade we wanted to create create a community where
                    anyone who has an interest in either AI or Self Investing, could join a shared community.
                </p>
                <p class="text-faded">
                    As Clade wants to follow in the priciples of Open Source, which for Clade is about giving a community access to the development code. This includes the Apps (Mobile/Web) and the API Code.
                </p>
                <p class="text-faded">
                    It is also about getting suppport back from the community and the support Clade needs is everything from technical to non-technical. If you're a developers/tester or analyst, who has been invoved with fin-tech projects, then we would love to hear from you.
                </p>
                <p class="text-faded">
                    To access the code pages, please follow the link below.
                </p>
                <a href="https://gitlab.com/clade" class="btn btn-default btn-xl">Clade Code Homepage</a>
            </div>
        </div>
    </div>
</section>
