<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Clade Community Pages</h1>
            <hr>
            <h2>Clade: bringing the future of AI to investing</h2>
            <br/>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
