<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About our work</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-flask wow bounceIn text-primary"></i>
                    <h3>AI and Machine Learning Research</h3>
                    <p class="text-muted">
                        Each of the AI Components, we're building are designed using research published by Clade or used by Clade from external sources.
                    </p>
                    <br/>
                    <p>
                        For more information please see the AI analytics section found 
                        <a href="https://gitlab.com/clade/ai-component-research">here.</a>
                    </p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-mobile wow bounceIn text-primary"></i>
                    <h3>iOS and Android Apps</h3>
                    <p class="text-muted">
                        The iOS and Android apps are built using React-Native, chosen to speed up the first phase of the development program.
                    </p>
                    <br/>
                    <p>
                        For more information please see the Mobile Code section found 
                        <a href="https://gitlab.com/clade/clade-mobile">here.</a>
                    </p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-server wow bounceIn text-primary"></i>
                    <h3>Clade AI Service</h3>
                    <p class="text-muted">
                        As we build the AI Components the data, which will drive them will be available as an API Service. Clade will eventualy make this a B2B component.
                    </p>
                    <br/>
                    <p>
                        For more information please see the API Service section found 
                        <a href="https://gitlab.com/clade/component-api">here.</a>
                    </p>
                </div>
            </div>
            
        
        </div>
    </div>
</section>
